<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<H4>
    Registration form 
</H4>
<head>
    <body>
        <input type="text" placeholder="username">
        <br>
        <input type="password" placeholder="password">
        <h4>Select your Class</h4>
 <form action="/php.file">
<label for="101">
    <input type="radio" value="Class 11" name="Class" id="101"> Class 11
</label>
<br></br>
<label for="1021">
    <input type="radio" value="Class 12" name="Class" id="102"> Class 12
    <br>
    <h4>Select your favourite Subject</h4> 
    <label for="104">
        <input type="checkbox" value="Maths" name="Subject" id="104">Maths
    </label>
    <br>
    <label for="105">
        <input type="checkbox" value="Physics" name="Subject" id="105">Physics
        <br>
    <label for="106">
        <input type="checkbox"value="Computer science" name="Subject" id="106">Computer Science
        <br>
        <select name="city">
            <option value="Sadiqabad">Sadiqabad
                <option value="Rahimyar Khan">Rahim yar Khan
                    <option value="Bahawalpur">Bahawalpur
                        
                    </option>

                </option>
            </option>
        </select>
      
    </select>


        <br>
        <textarea name="text" value="give your feedback" id="106" cols="5" rows="5"> give your feedback</textarea>
        <input type="submit"value="submit">
    </label>
    </label>
</label>
<iframe src="https://www.google.com/search?q=wikipedia&rlz=1C1VDKB_enPK1031PK1031&oq=wiki&aqs=chrome.1.69i57j0i433i512j46i131i199i433i465i512j0i433i512j0i512j0i131i433i512j0i433i512j0i512j0i433i512.2662j0j7&sourceid=chrome&ie=UTF-8"></iframe>
</iframe>
<video src="https://www.youtube.com/watch?v=HcOc7P5BMi4&t=6782s"></video>
    </body>
    <br>
    
<body>
<p>
    H <sub>2</sub>
    O
</p>
</body>

</head>